@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}


:root {
    --cor01: white;
    --fonte-padrao: Arial, Helvetica, Verdana, sans-serif;
}

body {
    margin: 0px;
    background-color: #b1ffd4;
}

header {
    padding: 50px 10px 10px 20px;
    background-image: linear-gradient(to bottom, #3DDC84, #175935  )
}

header > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

header > nav > a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    transition-duration: 0.5s;
}

header > nav > a:hover{
    background-color: #3DDC84;
    color: darkgreen;
    border-radius: 3px;
}

main {
    max-width: 850px;
    margin: auto;
    text-align: left;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 1px 13px;
}

main > img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main > div#imagens {
    text-align: center;
}

main > p > a {
    text-decoration: none;
    color: rgb(0, 44, 0);
    font-weight: bold;
    background-color: #3DDC84;
}

main > p > a:hover {
    text-decoration: underline;
}

main > p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

main > h1 {
    font-family: 'idroid';
    color: rgb(0, 63, 0);
    margin: auto;
}

main > h2 {
    font-family: 'idroid';
    color: rgb(0, 63, 0);
    background-image: linear-gradient(to right, rgb(87, 253, 87), white);
    margin: auto;
}

#video {
    text-align: center;
    background-color: #3DDC84;
}

#video iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;   
}

ul#lista-androids {
    column-count: 2;
    list-style-type: none;
}

li::before {
    content: "✓ ";
    font-weight: bolder;
}

aside {
    max-width: 750px;
    margin: auto;
    background-color: #b1ffd4;
    text-indent: 30px;
    border-radius: 5px; 
    box-shadow: 1px 1px 10px black;    
}

aside > p#cabecalho {
    background-color: darkgreen; 
    border-radius: 5px 5px 0px 0px; 
    padding: 10px; 
    color: white; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

aside > p {
    padding: 10px;
}

aside > p > span {
    color: #00421e;
    font-weight: bolder;    
}

aside > p > a {
    text-decoration: none;
    color: #175935;
    font-weight: bold;
}

aside > p > a:hover {
    text-decoration: underline;
}

p#final {
    max-width: 750px;
    margin: auto;
    text-indent: 30px;
}

p#final > span {
    color: green;
    font-weight: bolder;
}

footer {
    background-color: #175935;
    text-align: center;
    margin: auto;
    padding: 1px;
}

footer > p {
    margin: auto;
    color: white;
}

footer > p > a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

footer > p > a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
}
